<?xml version="1.0" encoding="UTF-8"?>

<web-app 
	xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee; http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
    version="3.1">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ResipeListServlet</servlet-name>
  	<display-name>ResipeListServlet</display-name>
  	<description></description>
  	<servlet-class>com.zn0w.recipesharing.servlets.ResipeListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RecipeServlet</servlet-name>
  	<display-name>RecipeServlet</display-name>
  	<description></description>
  	<servlet-class>com.zn0w.recipesharing.servlets.RecipeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.zn0w.recipesharing.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.zn0w.recipesharing.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.zn0w.recipesharing.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserRecipesServlet</servlet-name>
  	<display-name>UserRecipesServlet</display-name>
  	<description></description>
  	<servlet-class>com.zn0w.recipesharing.servlets.UserRecipesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FavouritedRecipesServlet</servlet-name>
  	<display-name>FavouritedRecipesServlet</display-name>
  	<description></description>
  	<servlet-class>com.zn0w.recipesharing.servlets.FavouritedRecipesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShareRecipeServlet</servlet-name>
  	<display-name>ShareRecipeServlet</display-name>
  	<description></description>
  	<servlet-class>com.zn0w.recipesharing.servlets.ShareRecipeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RecipeManagerServlet</servlet-name>
  	<display-name>RecipeManagerServlet</display-name>
  	<description></description>
  	<servlet-class>com.zn0w.recipesharing.servlets.RecipeManagerServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SendCommentServlet</display-name>
  	<servlet-name>SendCommentServlet</servlet-name>
  	<servlet-class>com.zn0w.recipesharing.servlets.SendCommentServlet</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>ResipeListServlet</servlet-name>
  	<url-pattern>/ResipeListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RecipeServlet</servlet-name>
  	<url-pattern>/RecipeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserRecipesServlet</servlet-name>
  	<url-pattern>/UserRecipesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FavouritedRecipesServlet</servlet-name>
  	<url-pattern>/FavouritedRecipesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShareRecipeServlet</servlet-name>
  	<url-pattern>/ShareRecipeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RecipeManagerServlet</servlet-name>
  	<url-pattern>/RecipeManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SendCommentServlet</servlet-name>
  	<url-pattern>/SendCommentServlet</url-pattern>
  </servlet-mapping>
</web-app>
