<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ResipeListServlet</servlet-name>
  	<display-name>ResipeListServlet</display-name>
  	<description></description>
  	<servlet-class>com.zn0w.javacontent.servlets.ResipeListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RecipeServlet</servlet-name>
  	<display-name>RecipeServlet</display-name>
  	<description></description>
  	<servlet-class>com.zn0w.javacontent.servlets.RecipeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.zn0w.javacontent.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.zn0w.javacontent.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.zn0w.javacontent.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MyRecipesServlet</servlet-name>
  	<display-name>MyRecipesServlet</display-name>
  	<description></description>
  	<servlet-class>com.zn0w.javacontent.servlets.MyRecipesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FavouritedRecipesServlet</servlet-name>
  	<display-name>FavouritedRecipesServlet</display-name>
  	<description></description>
  	<servlet-class>com.zn0w.javacontent.servlets.FavouritedRecipesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ResipeListServlet</servlet-name>
  	<url-pattern>/ResipeListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RecipeServlet</servlet-name>
  	<url-pattern>/RecipeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MyRecipesServlet</servlet-name>
  	<url-pattern>/MyRecipesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FavouritedRecipesServlet</servlet-name>
  	<url-pattern>/FavouritedRecipesServlet</url-pattern>
  </servlet-mapping>
</web-app>
